<% provide :title, "Home" %>
<%= t "home.home_html" %>
<p>
  <%= t "home.page_home" %>
  <%= link_to t("home.detail"), "https://www.railstutorial.org/" %><%= t "home.sample" %>
</p>
<%= link_to t("home.signup"), "#", class: "btn btn-lg btn-primary" %>
